@font-face {
    font-family: “Lexend-Regular”;
    src: url(“fonts/Lexend-Regular.ttf”) format(“truetype”);
    }
    
*, html, body {
    font-family: “Lexend-Regular”, sans-serif;
    }
body{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    margin-left: 60px;
    background-image: url(shapes-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
h1 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    font-size: 32px;
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}
p{
    font-size: 16px;
}
a, a:hover{
    color: #cc3bd1;
}
h1, h2, label,p {
    color: #fff;
}
footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
  }
footer p {
    font-size: 32px;
    padding-right:  20px;
}
footer img {
    padding-right:  40px;
}
.rc-slider-dot-active {  
  border: solid 2px #d0d0f9;
}
.rc-slider-track {  
  border: solid 2px #d0d0f9;
}
.rc-slider-handle {  
  border: solid 2px #d0d0f9;
}
.slider-input{
    margin-top:20px;
}
.input-row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 370px));
    justify-content: center;
    grid-gap: 10px;
}
.output-row{
    height: 600px;
}
.output-graph{
    height: 600px;
}
.simulator-frame, .chart-footer{
    width: 90%;
    margin: 0 auto;
}
.simulator-frame{
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: #272838;
    border: 5px solid transparent;

        -moz-border-image: -moz-linear-gradient(left, #f36546 0%, #cc3bd1 100%);
        -webkit-border-image: -webkit-linear-gradient(left, #f36546 0%, #cc3bd1 100%);
        border-image: linear-gradient(to right, #f36546 0%, #cc3bd1 100%);

        border-image-slice: 1;
}
@media screen and (max-width: 768px) {
    body {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }
	h1 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;	
        width: 100%;	
	}
    h2 {
		font-size: 18px;		
	}

    footer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 370px));
        align-content: center;
        grid-gap: 10px;
      }
    footer p {
        font-size: 18px;
        padding-right:  20px;
    }
    footer img {
        padding-right:  40px;
    }
}